<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="./vue.min.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <!-- <li v-for="item in arr">{{item}}</li> -->
            <li v-for="data in json">{{data.name}}</li>
            <li v-for="(item,index) in arr" :key="index">{{item}}{{index}}</li>
        </ul>
    </div>
    <script>
        //v-model    双向数据绑定
        //双向数据绑定的原理
        //object.defineProperty()      setter    getter
         new Vue({
             el:"#app",
             data:{
                 arr:[
                     "a","2","3"
                 ],
                 json:[
                     {"name":1},
                     {"name":2},
                     {"name":3},
                     {"name":4},
                 ]
             }
         })
    </script>
</body>
</html>